.container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}
.imgblock {
  display: flex;
  justify-content: center;
}
.img {
  width: 250px;
  height: 200px;
  border-radius: 50%;
}
.content {
  display: flex;
  flex-direction: column;
}
#i1 {
  font-weight: bold;
}
#input {
  width: 98%;
  height: 20px;
}
#i2 {
  margin-bottom: 10px;
}
#login {
  background-color: rgb(48, 146, 76);
  text-align: center;
  color: white;
  padding: 5px;
}
.checkbox {
  display: flex;
}
.rem {
  padding: 5px;
}
.end {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: lightgrey;
  border-top: 1px solid rgb(115, 113, 113);
}
.cancel {
  padding: 5px;
  font-size: small;
  background-color: red;
  color: white;
  border-radius: 5px;
}
a {
  color: black;
}
