.input {
  width: 98%;
}
.holder {
  background-color: rgb(166, 20, 90);
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  max-width: 850px;
  min-width: 450px;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: rgb(131, 10, 68);
  color: white;
}
.register {
  color: black;
  font-weight: bold;
  font-size: large;
  background-color: white;
  text-align: center;
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
}
th,
td {
  padding: 5px;
}
